## Coding Challenges

### Functions, Strings

Question:

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).

The numbers obtained should be printed in a comma-separated sequence on a single line.

In [6]:
l = []
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        l.append(str(i))
    
print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Question:

Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:

8

Then, the output should be:

40320

In [59]:
def factorial_found():
    num = int(input('factorial to be found: '))
    nums = [i for i in range(num)]
    nums = sorted(nums[1:], reverse=True)
    for i in nums:
        num *= i
    return num

In [60]:
factorial_found()

factorial to be found: 8

40320

Question:

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

Suppose the following input is supplied to the program:

8

Then, the output should be:

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [69]:
def dictionary():
    num = int(input('Dictionary range: '))
    ls = [i for i in range(num+1)[1:]]
    d = {i:i*i for i in ls}
    return d

In [70]:
dictionary()

Dictionary range: 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Question:

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

Suppose the following input is supplied to the program:

34,67,55,33,12,98

Then, the output should be:

['34', '67', '55', '33', '12', '98']

('34', '67', '55', '33', '12', '98')

In [81]:
def list_and_tuple():
    string = input('Please provide the numbers seperated by commas: ')
    ls = string.split(',')
    tp = tuple(ls)
    print(ls)
    print(tp)
    return ls, tp

In [82]:
list_and_tuple()

Please provide the numbers seperated by commas: 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

(['34', '67', '55', '33', '12', '98'], ('34', '67', '55', '33', '12', '98'))

### Object oriented programming

Question:

Define a class which has at least two methods:

getString: to get a string from console input

printString: to print the string in upper case.

Also please include simple test function to test the class methods.

### More Math

Question:

Write a program that calculates and prints the value according to the given formula:

    Q = Square root of [(2 * C * D)/H]

Following are the fixed values of C and H:

    C is 50. H is 30.

    D is the variable whose values should be input to your program in a comma-separated sequence.


Example

Let us assume the following comma separated input sequence is given to the program:

    100,150,180

The output of the program should be:

    18,22,24

In [112]:
import math

def formula():
    D_string = input('Please provide numbers, seperated by a comma: ').split(',')
    D = [int(i) for i in D_string]
    Q = [round(math.sqrt((2 * 50 * i)/ 30)) for i in D]
    return Q
formula()

Please provide numbers, seperated by a comma: 100,150,180

[18, 22, 24]

Question:

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

    Note: i=0,1.., X-1; j=0,1,¡­Y-1.

Example

Suppose the following inputs are given to the program:

    3,5
    
Then, the output of the program should be:

    [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]